<!--<div class="row">-->
<!--  <div class="col-1 my-auto">-->
<!--    <span class="badge rounded-pill <%#= status_badge(order.status) %> d-block"></span>-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    Status: <%#= order.status.humanize %>-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    Total amount: <%#= order.total_price %>-->
<!--  </div>-->
<!--  <div class="col-2">-->
    <%#= order_images(order) %>
<!--  </div>-->
<!--</div>-->
